<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="author" content="Liu Yongkang" />
<meta name="description" content="Liu Yongkang's Blog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="/css/default.css" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
<script src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
</head>
<body>

<div class="home-menu">
	<div class="home-icon-con">
		<a class="home-menu-icon" href="/">Liu Yongkang</a>
		<a class="home-follow" href="#" title="Contact Me">+</a>
	</div>
	<div class="home-contact">
		<a href="http://weibo.com/mengsuihonglan" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
		<a href="http://zhihu.com/people/liu-yong-kang-84" target="_blank" style="text-align:center;"><img src="http://www.zhihu.com/favicon.ico" alt="" width="25"/></a>
            <a href="https://github.com/liuyongkang" target="_blank" style="text-align:right"><img src="https://github.com/favicon.ico" alt="" width="25"/></a>
	</div>
</div>

{{ content }}

<script type="text/javascript">
$(function(){
			$('.home-follow').click(function(e){
				e.preventDefault();

				if($('.home-contact').is(':visible')){
				$('.home-contact').slideUp(100);
				}else{
				$('.home-contact').slideDown(100);
				}
				});
			})
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46053103-1', 'liuyongkang.org');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F97b43754d6d1c090064b3aeb65a0d15c' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
